body{
	background-color: white;
	background-size: cover;
	background position: center;
}

.container{
	width:80%;
	margin: auto;
	overflow: hidden;
	font-family: sans-serif;
}


ul{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/*header*/

header{
	background: #343477;
	/*color: blue;*/
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #343477 3px solid;
}


header a{
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-family: sans-serif;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header .highlight, header .current{
	color: white;

}
header #myheader{
	float: left;

}

header #myheader h1{
	margin: 0;
	font-family: sans-serif;

}

header nav{
	
	margin-top: 10px;
}


header a:hover{
	color: 000000;
	font-weight: bold;
}

.loginpage{
	width:360px;
	padding:7% 0 0;
	margin: auto;
}

.signup{
	background: #343477 ; 
}
.signuppage{
	width:360px;
	padding:5% 0 0 4%;
	margin: auto;

}
.form{
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width:360px;
	margin: 0 auto 100px;
	padding:40px 25px;
	text-align: center;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
}

.form input{
	font-family: "Roboto", sans serif;
	outline: 1;
	background: #f2f2f2;
	width:100%;
	border:0;
	margin:0 0 15px;
	padding:15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
		font-family: "Roboto", sans serif;
		text-transform: uppercase;
		outline: 0;
		background:grey;
		width: 100%;
		border: 0;
		padding:15px;
		color: #ffffff;
		font-size: 14px;
		cursor: pointer;

}
.form button:hover,.form button:active{
	background:#343477  ;
}

.form .word{
	margin:15px 0 0;
	color: #343477 ;
	font-size: 12px;
}

.form .word a{
	color: #343477 ;
	text-decoration: none;
}

.foot{
	padding: 20px;
	margin-top: 20px;
    background-color: #1A1A59  ;
    color: #ffffff;
    text-align:center;
    font-family: sans-serif;

}
.main-col{
	font-family: sans-serif;
	text-align: justify;
}
.main-col img{
	width: 50%;
	float: left;
	margin-right: 15px;
	
}
.main-col h1{
	font-size: 35px;
	text-decoration: none;
	font-family: sans-serif;
}
.main-col p{
	line-height: 1.7;
	font-family: sans-serif;
}
.main-col .start{
	width:30%;
	padding:15px;
	margin-top: 10px;
	background-color: grey;
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
}
.main-col .start:hover{
	background-color: #343477 ;

}
.logout {
	float: right;
}

.addentry{
width:360px;
	padding:3% 0 0;
	margin: auto;
}

 .card {
 	border: 1px solid #d3d3d3;
 	border-radius:.25rem;
 }
 .bg-image {
 	background-size:  cover;
 	min-height: 180px,
 	background-position: center;
 	background-color: blue;		
 }
.thoughts {
 	padding:15px;
 }
button {
 	background-color: transparent;
 	border: 1px solid #2196F3;
 	padding: 5rem 1em;
 	cursor: pointer;
 	border-radius: .25rem;

 }
 
/*.grid-container{
	display: grid;
	grid-template-columns:repeat(3,ifr);
	grid-gap:20px;
}*/

.des{
	
    height:200px;
    font-size:14pt;
    float: initial;
}
.ig{
	float: right;
	cursor: pointer;
}
.ig1{
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

.start{
	width: 10px;
	cursor: pointer;
}

.mydrop{
	float:right;
	position: relative;
	display: inline-block;

}

.drop-content{
	display: none;
	position: fixed;
	background-color: grey;
	min-width: 200px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px(0,0,0,0,2);
	right: 0;
	z-index: 1;

}